{% extends 'base.html' %}

{% load static %}

{% block title %} Oya Start New Topic {% endblock %}

{% block stylesheet %}
    
    <link rel="stylesheet" href="{% static 'boards/css/simplemde.min.css' %}">

{% endblock %}

{% block javascript %}

    <script src="{% static 'boards/js/simplemde.min.js' %}"></script>
    
    <script>

        var simplemde = new SimpleMDE();
    
    </script>

{% endblock %}


{% block breadcrumb %}

<li class="breadcrumb-item"> <a href="{% url 'home' %}"> Forums </a> </li>
<li class="breadcrumb-item"> <a href="{% url 'board_topics' board.pk %}"> {{board.name}} </a> </li>

<li class="breadcrumb-item active"> Oya Start Your New Topic </li>

{% endblock %}

{% block content %}

    <form method="post" novalidate>

    	{% csrf_token %}

        {% include 'includes/form.html' %}

    	<button type="submit" class="btn btn-info"> Post Am Jare </button>
    	
    </form>

{% endblock %}