{% extends 'base_accounts.html' %}

{% block title %} Your Control Done Change! {% endblock title %}

{% block content %}

    <div class="row justify-content-center">

        <div class="col-lg-6 col-md-8 col-sm-10">

            <div class="card">

                <div class="card-body">

                    <h3 class="card-title"> Your Control Done Change! </h3>

                    <div class="alert alert-success" role='alert'>

                        As you done change your control now to new one, oya use that new one take see your cabal.

                    </div>

                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block"> Click Here To Enter Your Control </a>

                </div>
            
            </div>
    	
        </div>

    </div>

{% endblock %}