{% extends 'base_accounts.html' %}

{% block title %} Change Your Control {% endblock %}

{% block content %}

    <div class="row justify-content-center">

        <div class="col-lg-8 col-md-10 col-sm-12">

            <div class="card">

                <div class="card-body">

                    <h3 class="card-title"> Change Your Control </h3>

                    <p>We done send link to your mail wey go help you change your control to new one. If you no see am for your inbox, just check your spam. E go dey there.</p>

                    <a href="{% url 'login' %}" class="btn btn-primary btn-block"> Go Back To Where You Fit Enter Your Control  </a>

                    </form>

                </div>
            
            </div>
    	
        </div>

    </div>

{% endblock %}