Halo there,

Abeg somebody ask say make we change him control for the mail wey be {{ email }}.
Just sufferi follow the link wey dey down:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you done forget, your Nigerian Pidgin Forum name na: {{ user.username }}

If you click the link, e supose work but if e no work, just copy am and put am for your browser. E go work there.

If this mail wey you dey read na mistake, e fit be say another person wey dey for Nigerian Pidgin Forum done enter your email by mistake as him wan change him control. No vex for us. If no be you, just no do anything. Do as if you no even see this message.

Thank you wella,

The Nigerian Pidgin Forum Team.