{% extends 'base.html' %}

{% block title %} Oshey! Your Control Done Change {% endblock %}


{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'password_change' %}"> Change Your Control </a></li>

<li class="breadcrumb-item active"> Your Control Done Change </li>

{% endblock %}

{% block content %}

    <div class="alert alert-success" role="alert">

        <strong>Success!</strong> Oya! Your Control Done Change!

    </div>

    <a href="{% url 'home' %}" class="btn btn-secondary"> Go The Front Page </a>
    	
{% endblock %}