{% extends 'base_accounts.html' %}

{% block title %} Oya Collect New Control {% endblock %}

{% block content %}

    <div class="row justify-content-center">

        <div class="col-lg-8 col-md-10 col-sm-12">

            <div class="card">

                <div class="card-body">

                    <h3 class="card-title"> Collect New Control </h3>

                    <p>Type the email wey you take first register make we send you new control sharp sharp.</p>

                    <form method="post" novalidate>

                        {% csrf_token %}

                        {% include 'includes/form.html' %}

                        <button type="submit" class="btn btn-info btn-block"> Send New Control For My Mail </button>

                    </form>

                </div>
            
            </div>
    	
        </div>

    </div>

{% endblock %}